{% load static %}

{% block content %}
<title>
    Welcome to Buying page
</title>
<h1>
   Checkout Your Order
</h1>
{% endblock content %}
<style>
    
    h1 {
        background-color: bisque;
        padding: 20px;
            margin-top: 60px;
            color:rgb(8, 8, 8);
            text-align:center;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-style: oblique; 
    }

    .container {
            outline-offset: 3px;	        
            padding: 3px;
            display: flex;
            flex-wrap: wrap;
            margin: 0px 50px 0px;
            margin-bottom: 44px;
            border-bottom: 1px;
            padding-bottom: 16px;
            max-height: max-content;
            width: 1150px;
            align-items:center;
            margin-top: 50px;
            
        }

        .card {
            background-color: rgb(255, 255, 255);
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: x-large;
            font-weight: bold;
            overflow: hidden;
            border-radius: 6px;
            
            margin: 5px 18px 24px;
            max-height: max-content;
            width: 490px;
            padding: 15px;  
            
        } 
        img {
            margin-right: 16px;
            overflow-y: hidden;
            overflow-x: hidden;
            border-radius: 10px;
            text-size-adjust:initial;
            height:  450px;;
            width:450px;
            text-overflow: ellipsis;
            padding: 5px;
            justify-content: center;
        }
        a {
            margin-bottom: 100px;
            font-size: 20px;
            font-weight: bold;
            
        }
</style>
    <div>
       <div class="container">       
            <div class="card">
              <img src="{{model.image.url}}" alt="{{model.name}}">           
            </div>
            <form method="POST" class="card" style="display: block;" enctype="multipart/form-data">
                {% csrf_token %}
                <p><u>{{model.name}} </u></p>
                
                <p style="color:rgb(250, 4, 4);">Rs. {{model.price}}</p><br>
                {{form.as_p}}
            
                <button type="submit" style="text-align:center;font-size: large;" > Buy </button>
            </form>       
        </div>                     
    </div>
        