{% load static %}


<title>
    Welcome to Buying page
</title>


<style>
    h1 {
        background-color: rgb(5, 5, 5);
        padding: 10px;
        margin-top: 40px;
        color:rgba(209, 162, 33, 0.877);
        text-align:center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-style: oblique; 
    }

    .container {
            outline-offset: 3px;	        
            padding: 3px;
            display: flex;
            flex-wrap: wrap;
            margin: 0px 50px 0px;
            margin-bottom: 44px;
            border-bottom: 1px;
            padding-bottom: 16px;
            max-height: max-content;
            width: 1150px;
            margin-top: 50px;
            
        }

        .card {
            background-color: rgb(255, 255, 255);
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: x-large;
            font-weight: bold;
            overflow: hidden;
            border-radius: 6px;
            
            margin: 5px 18px 24px;
            max-height: max-content;
            width: 490px;
            padding: 15px;  
            
        } 
        img {
            margin-right: 16px;
            overflow-y: hidden;
            overflow-x: hidden;
            border-radius: 10px;
            text-size-adjust:initial;
            height:  450px;;
            width:450px;
            text-overflow: ellipsis;
            padding: 5px;
            justify-content: center;
        }
        a {
            margin-bottom: 100px;
            font-size: 18px;
            font-weight: bold;
            
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: black;
        }
        li a {
            align-items: center;
            display: block;
            padding: 14px 16px;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
        li {
            float: right;
        }
</style>
<body>
    <ul>
        <li style="float: left; font-size: medium; margin-left: 30px;">
            <a class="tit" href="{% url 'Main_page' %}">Mobile Showroom</a></li>
        <li><a>Contact</a></li>
        <li><a>About</a></li>
        <li><a href="{% url 'Main_page' %}">Home</a></li>
    </ul>

<h1>
   Checkout Your Order
</h1>
    <div>
       <div class="container">       
            <div class="card">
              <img src="{{model.image.url}}" alt="{{model.name}}">           
            </div>
            <form method="POST" class="card" style="display: block;" enctype="multipart/form-data">
                {% csrf_token %}
                <p><u>{{model.name}} </u></p>
                
                <p style="color:rgb(250, 4, 4);">Rs. {{model.price}}</p><br>
                {{form.as_p}}
                <button type="submit" onclick="myFunction()" style="text-align:center;font-size: large;" > Buy </button>
            </form>       
        </div> 
        <script>
            function myFunction() {
              alert("Success!!! You Got The Order...");
            }
            </script>                    
    </div>
</body>       